<h1>Edit Question</h1>

  <% if @question.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @question do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit %>
  <% end %>
